[run]
relative_files = true
source = backend

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError

[json]
pretty_print = true
show_contexts = true

[xml]
package_depth = 99

[paths]
source =
    backend/
    /app/backend/ 